.app {
    background: linear-gradient(var(--root-bg), var(--root-bg)), url('./images/microchip.jpg');
}

.flex-root{ /* root of entire document, centers children */
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}