

/* =========================================*
    BOILERPLATE

    Remove default padding & margin,
    set body and below to border-box box-sizing,
    standardize fonts, and make rem units base-10.

    Citation: Chris Mayes used this boilerplate
    in their 290 Project (and in most of their
    CSS projects)
*  =========================================*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%; /* 1rem = 10px for most default browser settings */
}

 body {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

/* =========================================*
    COLOR SCHEME
*  =========================================*/

:root{
  --root-bg: rgb(124, 96, 107, 0.7);
  --prompt-font: #7C606B;
  --grid-bg: rgb(196, 107, 174, 0.95);
  --question-font: #7C606B;
  --prompt-bg: #EED5C2;
  --sections-bg: #f392ce;
  --sections-bg-hover: #EED5C2;
  --sections-bg-correct: #71c48e;
  --sections-bg-wrong: rgb(241, 135, 135);
}

.app{
    background: linear-gradient(var(--root-bg), var(--root-bg)), url('./microchip.jpg');
}

/* =========================================*
    FORMATTING (Grid parent, flexbox children)
*  =========================================*/

.flex-root{ /* root of entire document, centers grid */
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.quiz-grid {
    display: grid;
    grid-template-rows: 2vh 20vh 36vh 36vh 2vh;
    grid-template-columns: 1vw 44.5vw 44.5vw 1vw;
    grid-template-areas:
        "b-top b-top b-top b-top" /* top border */
        "b-left prompt prompt b-right"
        "b-left a1 a2 b-right"
        "b-left a3 a4 b-right"
        "b-bot b-bot b-bot b-bot";
    grid-gap: 1vh 1vh;
    background: linear-gradient(var(--grid-bg), var(--grid-bg)), url('./microchip.jpg');
    width: 92.5vw;
    height: 100vh;
}

  /* img citation: https://www.vecteezy.com/vector-art/119490-microchip-background */
.quiz-grid__prompt{
  
  /* Flex (as parent) */
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  /* Grid (as child) */
  grid-area: prompt;
  
  /* section styling */
  background-color: var(--sections-bg);
  color: var(--prompt-font);
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 2px;
  padding: 1rem;
  background-color: var(--prompt-bg)

}

.quiz-grid__answer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: var(--sections-bg);
  color: rgb(36, 36, 36);
  border-radius: 10px;
  padding: 4rem;
  font-size: 1.2rem;
  border: 3px solid var(--prompt-font)
}

.quiz-grid__answer:hover {
  background-color: var(--sections-bg-hover);
  cursor: pointer;
}

.quiz-grid__answer--selected-red, .quiz-grid__answer--selected-red:hover {
  background-color: var(--sections-bg-wrong);
  border: 2px solid red;
  color: rgb(100, 6, 6);

}

.quiz-grid__answer--selected-green, .quiz-grid__answer--selected-green:hover {
  background-color: var(--sections-bg-correct);
  border: 2px solid green;
  color: rgb(11, 73, 11)
}

.quiz-grid__border {
    background: linear-gradient(var(--grid-bg), var(--grid-bg)), url('./microchip.jpg');
}

.quiz-grid__border--top{
  grid-area: b-top
}
.quiz-grid__border--left{
  grid-area: b-left
}
.quiz-grid__border--right{
  grid-area: b-right
}
.quiz-grid__border--bottom{
  grid-area: b-bot
}

.quiz-grid__answer--1{
  grid-area: a1  
}

.quiz-grid__answer--2{
  grid-area: a2 
}

.quiz-grid__answer--3{
  grid-area: a3
}

.quiz-grid__answer--4{
  grid-area: a4  
}

/* =========================================*
      Non-Formatting Components
*  =========================================*/

h2 {
  font-size: 2rem;
  color: rgb(20, 20, 20);
}

.next-button {
  border-radius: 15px;
  background: var(--prompt-bg);
  color: var(--prompt-font);
  border: solid 3px var(--prompt-font);
  width: 30rem;
  height: 7rem;
  font-weight: bold;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.next-button:hover {
  color: var(--prompt-bg);
  background: var(--prompt-font)
}